<div class="pt-5 pb-5 text-light text-center bg-dark">

  <div class="row w-100 justify-content-center align-items-center mb-3">
    <div class="col-md-5">
      <div class="row">
        <p class="titulo-pagina mb-0 text-light">Bulder<span>SRC</span></p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row">
        <div class="col">
          <h4>Productos</h4>
        </div>
        <div class="col">
          <h4>Canales</h4>

        </div>
        <div class="col">
          <h4>Servicios</h4>

        </div>
      </div>
    </div>
  </div>
  <p class="m-0 fs-5">Todos los derechos reservados</p>
</div>
