<div class="container mt-5 text-secondary text-center">
  <h1>Tecnologías</h1>
  <p>Este es el catálogo de tecnologías que manejan nuestros expertos</p>

  <div class="mt-4 rounded-3 contenedor-iconos d-flex flex-row p-2 align-content-center mb-5">

    <div class="w-25">
      <div class="card-img">
        <img src="../../../assets/icons-tecnologias/file_type_angular_icon_130754.svg" alt="">
      </div>
    </div>

    <div class="w-25">
      <div class="card-img">
        <img src="../../../assets/icons-tecnologias/react_original_logo_icon_146374.svg" alt="">
      </div>
    </div>

    <div class="w-25">
      <div class="card-img">
        <img src="../../../assets/icons-tecnologias/file_type_kotlin_icon_130487.svg" alt="">
      </div>
    </div>

    <div class="w-25">
      <div class="card-img">
        <img src="../../../assets/icons-tecnologias/file_type_node_icon_130301.svg" alt="">
      </div>
    </div>

    <div class="w-25">
      <div class="card-img">
        <img src="../../../assets/icons-tecnologias/file_type_js_official_icon_130509.svg" alt="">
      </div>
    </div>

    <div class="w-25">
      <div class="card-img">
        <img src="../../../assets/icons-tecnologias/laravel_icon_130892.svg" alt="">
      </div>
    </div>

    <div class="w-25">
      <div class="card-img">
        <img src="../../../assets/icons-tecnologias/php_plain_logo_icon_146397.svg" alt="">
      </div>
    </div>

  </div>
</div>
