<section class="container">
  <ul class="d-flex">
    <li>
      <img src="https://greensock.com/images/company-logos/logo-cocacola.png" alt="logo-cocacola">
    </li>
    <li>
      <img src="https://greensock.com/images/company-logos/logo-microsoft.png" alt="logo-microsoft">
    </li>
    <li>
      <img src="https://greensock.com/images/company-logos/logo-nike.png" alt="logo-nike">
    </li>
    <li>
      <img src="https://greensock.com/images/company-logos/logo-adobe.png" alt="logo-nike">
    </li>
  </ul>

</section>
